/* SIDEBAR STYLING ---------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.red {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #DB133D !important;
    color: #fff;
}

.red > div > ul > li > i > svg,
.red > div i > svg {
    fill: #fff;
}

.yellow {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #F5E709 !important;
    color: #262F35;
}

.yellow > div > ul > li > i > svg,
.yellow > div i > svg {
    fill: #262F35;
}

.green {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #4CAF50 !important;
    color: #fff;
}

.green > div > ul > li > i > svg,
.green > div i > svg {
    fill: #fff;
}

.side-bar{
    width: 250px;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-1 > img{
    width: 100px;
    margin: 15px 0 5px;
}

.container-1 > p{
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 5px;
}

.container-2 .navigations{
    height: 450px;
    display: flex;
    align-items: center;
}

.navigations{
    width: 130px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.nav-item{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-item-text{
    margin-left: 20px;
    font-size: 18px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.container-3{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-3 > div{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*----------------------------------------------------------------------------- */


/* Container Text Styling */
.container-text {
    margin-left: 30px; /* This should be equal to the width of the sidebar */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
}

.header {
    left: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.header h1 {
    font-size: 2em;
}

.user-settings {
    display: flex;
    align-items: center;
    position: relative;
}

.user-settings input {
    padding: 5px;
    margin-right: 10px;
    width: 500px;
    max-width: 100%;
    box-sizing: border-box;
}

.user-info .language-icon {
    display: flex;
    align-items: center;

}

.user-info span {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.user-info a {
    margin-left: 5px;
}

.language-icon a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

.user-info a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}




.container-text h1, .container-text h2, .container-text h3 {
    color: #333;
}

.container-text p {
    line-height: 1.6;
    color: #555;
}

.container-text p strong {
    color: #000;
}