/* SIDEBAR STYLING ---------------------------------------------------------------------*/

* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.red {
  font-optical-sizing: auto;
  background-color: #db133d;
  color: #fff;
}

.red > div > ul > li > i > svg,
.red > div i > svg {
  fill: #fff;
}

.yellow {
  font-optical-sizing: auto;
  background-color: #f5e709;
  color: #262f35;
}

.yellow > div > ul > li > i > svg,
.yellow > div i > svg {
  fill: #262f35;
}

.login-page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-1 {
  position: fixed;
  top: 0px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
}

.container-1 > img {
  width: 90px;
}

.container-1 > p {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.container-2 {
  width: 480px;
  height: 250px;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #fff;
  color: #262f35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container-2 > p {
  font-size: 32px;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 20px;
  color: #000;
}

.container-2 > form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
}

.container-2 > form > input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #d9d9d9;
  color: #1e1e1e;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons > button {
  border: 0;
  background-color: #fff;
  font-weight: 550;
  font-size: 15px;
}

.buttons > button:hover {
  font-weight: 800;
  color: #db133d;
}

.forgotten-password {
  color: #262f35;
  text-decoration: underline;
  cursor: pointer;
}

.login {
  padding: 10px 20px;
  background-color: #262f35;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*----------------------------------------------------------------------------- */
